torch==2.7.0
setuptools==79.0.1
accelerate==1.8.1
peft==0.15.2
wandb==0.20.1
rich==14.0.0
trl==0.19.0
requests==2.32.4
openai==1.88.0
datasets==3.6.0
transformers==4.52.4
nest-asyncio==1.6.0
vllm==0.9.1
liger-kernel>=0.5.10
deepspeed==0.17.1
ipykernel==6.29.5
ipywidgets==8.1.7
duckduckgo-search
brave-search==0.1.8
reasoning-gym
smolagents==1.18.0
textarena==0.6.4
nltk==3.9.1